---
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    author?: string;
    singleImage?: string;
  };
}

const {
  content: { title, description, pubDate, author, singleImage },
} = Astro.props;

const dateFormant = (date: string) => {
  return new Date(date).toDateString();
};

const allPosts = (await Astro.glob("../pages/blog/*.{md,mdx}"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .splice(0, 6);

const allCategory = []

---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
    <BaseHead title={title} description={description} image={singleImage} />
  </head>

  <body>
    <Nav />
    <article class="port_singleblog_wrapper prt_toppadder80 prt_bottompadder80">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="blog_wrapper">
              <div class="blog_data">
                <div class="blog_thumb">
                  <img src={singleImage} alt="blog-image" class="img-fluid" />
                </div>
                <div class="blog_content">
                  <div class="blog_postinfo pb-3">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="fas fa-calendar-alt"></i>
                          {dateFormant(pubDate)}</a
                        >
                      </li>
                      <li>
                        <a href="#">
                          <i class="fas fa-comments"></i> 1 Comment</a
                        >
                      </li>
                      <li>
                        <a href="#">
                          <i class="fas fa-user-edit"></i> by {author}</a
                        >
                      </li>
                    </ul>
                  </div>
                  <h4 class="blog_heading">{title}</h4>
                  <p>
                    <slot />
                  </p>
                  <div class="blog_shareinfo">
                    <div class="blog_tag">
                      <a href="#"> <i class="fas fa-tags"></i> education, Software, portfolio</a>
                    </div>
                    <div class="blog_social">
                      <ul class="social_list">
                        <li>
                          <a href="#" class="siderbar_icon">
                            <span class="first_icon"><i class="fab fa-facebook-f nav_fb"></i></span>
                            <span class="second_icon"><i class="fab fa-facebook-f nav_fb"></i></span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="siderbar_icon">
                            <span class="first_icon"><i class="fab fa-linkedin-in nav_in"></i></span>
                            <span class="second_icon"><i class="fab fa-linkedin-in nav_in"></i></span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="siderbar_icon">
                            <span class="first_icon"><i class="fab fa-whatsapp nav_whats"></i></span>
                            <span class="second_icon"><i class="fab fa-whatsapp nav_whats"></i></span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="siderbar_icon">
                            <span class="first_icon"><i class="fab fa-twitter nav_twit"></i></span>
                            <span class="second_icon"><i class="fab fa-twitter nav_twit"></i></span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="siderbar_icon">
                            <span class="first_icon"><i class="fab fa-instagram nav_insta"></i></span>
                            <span class="second_icon"><i class="fab fa-instagram nav_insta"></i></span>
                          </a>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blogsidebar_wrapper">
              <div class="widget repost_widget">
                <h4 class="widget_title">Recent Post</h4>
                <div class="widget_rp">
                  <ul>
                    {
                      allPosts.map((post) => (
                        <li>
                          <div class="rp_thumb">
                            <a href={post.url}>
                              <img
                                src={post.frontmatter.heroImage}
                                alt="image"
                                class="img-fluid"
                              />
                            </a>
                          </div>
                          <div class="rp_data">
                            <a href={post.url} class="rp_heading">
                              {post.frontmatter.title}
                            </a>
                            <div>
                              <a href={post.url} class="rp_date">
                                {dateFormant(post.frontmatter.pubDate)}
                              </a>
                            </div>
                          </div>
                        </li>
                      ))
                    }
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <Footer />
  </body>
</html>
